IO_LOC "b" 30,29;
IO_PORT "b" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33D;
IO_LOC "g" 32,31;
IO_PORT "g" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33D;
IO_LOC "r" 35,34;
IO_PORT "r" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33D;
IO_LOC "clk_pixel" 28,27;
IO_PORT "clk_pixel" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33D;
IO_LOC "resetn" 14;
IO_PORT "resetn" PULL_MODE=UP;
IO_LOC "clk" 45;
IO_PORT "clk" PULL_MODE=UP IO_TYPE=LVCMOS33;